.feed{
    flex: 0.6;
}
.feed_inputContainer{
   margin: 0 20px;
   background-color: white;
   border-radius: 5px;
   padding: 10px;

}

.feed_input {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 8px 10px;
    margin-bottom: 10px;
   
    
}
.feed_input > form{
    display: flex;
    width: 100%;
}
.feed_input > form > input{
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed_input > form > button{
    display: none;
}
.feed_inputOption{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: gray;
    cursor: pointer;
}